@import "./variable";

.about-me__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(#{$baseline} * 5);
  }
  
  .about-me__content {
    position: relative;
  }
  
  .about-me__background {
    position: relative;
    aspect-ratio: 4 / 5;
    width: 15vw;
    border-radius: 8px;
    background-color: $lightBgContrast;
    min-width: 150px;
    max-width: 700px;
  }
  
  .about-me__image {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 15vw;
    min-width: 150px;
    max-width: 700px;
  }
  
  .about-me__image img {
    width: 100%;
    aspect-ratio: 2 / 3;
  }
  
  .about-me__text {
    text-align: center;
  }
  
  @media (min-width: #{$bp-lg}) {
    .container {
      max-width: 70rem;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      padding-left: calc(#{$baseline} * 0.5);
      padding-right: calc(#{$baseline} * 0.5);
    }
    .about-me__text {
      text-align: start;
    }
  }
  