@import "./variable";

.listed-case-study {
    counter-increment: caseStudy;
    display: block;
  }
  
  .listed-case-study__row {
    width: 100%;
  }
  
  .listed-case-study__caption__body,
  .listed-case-study__visual {
    z-index: 1;
    position: relative;
  }
  
  .case-study-teaser {
    display: flex;
    width: 100%;
    margin-bottom: calc(#{$baseline} * 1);
  }
  
  .case-study-teaser--landscape .case-study-teaser__image {
    width: 50%;
    flex-basis: 50%;
    transform: translate3d(-30px, -10px, 0px);
  }
  
  .background__image {
    min-width: 100px;
    max-width: 700px;
    min-height: 100px;
    max-height: 700px;
    width: 15vw;
    height: 15vw;
    display: block;
    position: relative;
    background-color: $midContrast;
  }
  
  .case-study-teaser--landscape .case-study-teaser__screen-recording {
    width: 100%;
  }
  
  .case-study {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: calc(#{$baseline} * 3);
    margin-bottom: calc(#{$baseline} * 3);
  }
  
  .case-study__background {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 30vw;
    border-radius: 8px;
    background-color: $lightBgContrast;
  }
  
  .case-study__image {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 30vw;
  }
  
  .case-study img {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  
  .case-study-text {
    position: relative;
  }
  
  .listed-case-study__caption {
    position: relative;
  }
  
  @media (min-width: 1024px) {
    .case-study:nth-child(2) {
      flex-direction: row-reverse;
    }
    .case-study:nth-child(2) .case-study__image {
      left: auto;
      right: 50px;
    }
  }
  
  @media (max-width: 1024px) {
    .case-study {
      flex-direction: column;
      align-items: center;
    }
    .case-study__block {
      position: relative;
      width: 100%;
    }
    .case-study__background {
      position: relative;
      left: 0;
      width: 50vw;
    }
    .case-study__image {
      width: 50vw;
      right: 0;
    }
  }
  