@import "./variable";

.footer {
    background-color: #f73c59;
    color: #fff;
    min-height: 100vh;
}

.footer__container {
    flex: 1 0 auto;
    padding: calc(#{$baseline} * 2) 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: calc(#{$baseline} * 3);
}
.footer__content {
    line-height: calc(#{$baseline} * 0.1);
    display: block;
 
}

.email-address {
    margin: calc(#{$baseline} * 3) 0;
}