@import "./variable";

.form-control {
  display: flex;
  align-items: flex-start;
  padding: 0;
  justify-content: start;
  flex-direction: column;
  border: none;
}

.form-control label {
  white-space: nowrap;
  position: static;
  font-size: clamp(25px, 4vw, 30px);
  padding-right: 150px;
  color: $contrast;
}

@media (max-width: 350px) {
  .form-control label {
    font-size: 30px;
  }
}

#username_label {
  margin-right: -58px;
}

.form-control input {
  height: 50px;
  padding-top: 20px;
  width: 70%;
  border-bottom: 1px solid black;
  font-size: clamp(6px, 4vw, 16px);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

@media (max-width: 350px) {
  .form-control input {
    width: auto;
  }
}

.form-control input::placeholder {
  color: $bgContrast;
  padding-left: 5px;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  display: flex;
  justify-content: center;
  color: #e74c3c;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.sender {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: 20%;
}

.sender button {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  background: $accentBlue;
  text-align: center;
  transition: .3s ease;
  font-size: 20px;
  color: $bgContrast;
}

button p {
  margin: 0;
  padding: 0;
}

button:hover {
  transform: scale(0.9);
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.message label {
  font-size: clamp(25px, 4vw, 30px);
  color: $contrast;
}

@media (max-width: 350px) {
  .message label {
    font-size: 30px;
  }
  .sender button {
    transform: scale(0.7);
  }
  .form button:hover {
    transform: scale(0.7)
  }
}

.message textarea {
  padding-top: 20px;
  padding-left: 5px;
  border-bottom: 1px solid $midContrast;
  height: 200px;
  font-size: 16px;
  background: none;
  outline: none;
}

.message textarea::placeholder {
  font-family: var(--roboto);
  color: $bgContrast;
}

@media (min-width: 1301px) {
  .menu_hidden {
    display: flex;
  }
}

.kontakt {
  position: relative;
  width: 100%;
  font-family: var(--roboto);
  color: #3d3d3d;
  font-size: clamp(20px, 4vw, 40px);
  margin-bottom: 200px;
}

.message-success,
.message-error {
  display: none;
  position: relative;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  font-family: var(--roboto);
  color: #3d3d3d;
  font-size: clamp(10px, 4vw, 20px);
  margin-bottom: 200px;
  font-style: italic;
  text-align: center;
}

@media (max-width: 1300px) {
}

@media (max-width: 900px) {
  .kontakt {
    margin-top: 0;
  }
}

.button {
  border: 1px solid $accentBlue;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  font-family: $secondaryFont;
  color: $accentBlue;
  padding: 1px 25px;
  transition: .3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: $accentBlue;
  color: $bgContrast;
  border: 1px solid transparent;
}

.pointer svg {
  width: 30px;
  fill: $accentBlue;
  transition: all 0.5s ease-in-out;
}

.scroll-arrow__content:hover svg {
  transform: translateY(5px);
}

.scroll-arrow__label {
  color: $midContrast;
}
