@import "./variable";

.hero--large .hero__content {
  min-height: 100vh;
}

.hero {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.hero__content {
  padding-top: calc(#{$baseline} * 7);
  padding-bottom: calc(#{$baseline} * 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero__circle {
  position: absolute;
  width: calc(#{$baseline} * 10);
  top: calc(#{$baseline} * 2.5);
  margin-left: -120px;
  z-index: -10;
}

.circle svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: $accentBlue;
  -webkit-animation: rotation 80s linear infinite;
  animation: rotation 80s linear infinite;
  transform-origin: center;
}

text {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  font-variant-ligatures: none;
  letter-spacing: 6px;
  animation: rotate 25s linear infinite;
  transform-origin: 250px 250px;
  font-family: $secondaryFont;
  font-weight: 900;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* Textcircle styles */
.textcircle {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}

.scroll-arrow--vertical {
  display: block;
  width: calc(#{$baseline} * 1);
}

.scroll-arrow {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.scroll-arrow__content {
  display: flex;
  align-items: center;
}

.scroll-arrow--vertical .scroll-arrow__content {
  flex-direction: column;
}

.scroll-arrow--vertical .scroll-arrow__label {
  width: calc(#{$baseline} * 1);
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: 0;
  margin-bottom: calc(#{$baseline} * 0.25);
}

.hero__scroll-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 calc(#{$baseline} * 0.5) calc(#{$baseline} * 1) calc(#{$baseline} * 0.5);
  margin-right: calc(#{$baseline} * 3);
}

.burger {
  display: none;
  z-index: 3000;
}

.overlayer {
  display: none;
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100%;
  height: 100%;
  background-color: $lightContrast;
  z-index: 999;
  transition: left 0.3s ease;
}

.nav__container a:hover {
  color: $accent;
}

@media (max-width: #{$bp-md}) {
  .nav {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    width: 30px;
    border: 0;
    padding: 0;
    gap: 3px;
    background: none;
    cursor: pointer;
    z-index: 3000; /* Ensure burger menu is on top */
  }

  .burger :where(.top-bread, .meat, .bottom-bread) {
    background: $accentBlue;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 300ms ease;
  }

  .burger[aria-expanded=true] .top-bread {
    opacity: 0;
  }

  .burger[aria-expanded=true] .meat {
    transform: rotate(45deg);
  }

  .burger[aria-expanded=true] .bottom-bread {
    transform: translateY(calc(12px + -1rem)) rotate(-45deg);
  }

  .overlayer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger__nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    font-size: $baseline;
  }

  .burger__nav__container:hover {
    color: $accent;
  }
}
