@import "./variable";

.landing-page-builder {
    position: relative;
    min-height: 300px;
  }
  
  .landing-page-builder__section {
    display: block;
  }
  
  @media (min-width: 1280px) {
    .container,
    .container-fluid {
      max-width: 70rem;
    }
  }
  
  .add-margin {
    margin-bottom: 1.5rem;
    margin-bottom: calc(#{$baseline} * 1);
  }
  