@import "./variable";

.perspective-text__container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: calc(#{$baseline} * 1);
}

.perspective-text__size {
  $textSizeRatioValue: 1;
  transform: scale(#{$textSizeRatioValue}); 
  position: relative;
  left: 0;
}

.perspective-text {
  color: $midContrast;
  font-size: 58px;
  font-weight: 400;
  letter-spacing: -2px;
  text-transform: uppercase;
  height: auto;
  margin-bottom: calc(#{$baseline} * 2);
  padding-right: calc(#{$baseline} * 4);
  
  @media (max-width: #{$bp-xs}) {
    padding-right: 10vw;
  }
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.perspective-line p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
  font-family: "Caprasimo", serif;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}

.perspective-text.active p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
}

.perspective-line:nth-child(3) {
  left: 87px;
}

.together {
  color: $accentBlue;
}