$bgContrast: #E4E6C3;
$lightBgContrast: #e7e3d9;
$bg: #fff;
$accent: #f73c59;
$contrast: #22211f;
$midContrast: #4a4946;
$lightContrast: #84837f;
$accentBlue: #6184D8;
$baseline: 1.5rem;
$vh: 100;
$bp-xs: 576px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1200px;
$secondaryFont: "Roboto", sans-serif;
